<ng-template #content let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create marker</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(events.X)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="popupMessage">Popup message</label>
      <input class="form-control" id="popup" placeholder="I'm a popup!"
        [(ngModel)]="marker.popup"
      >
      <small id="popupHelp" class="form-text text-muted">
        This message will appear when the user clicks the marker
      </small>
    </div>
    <div class="form-group">
      <label for="tooltipMessage">Tooltip message</label>
      <input class="form-control" id="tooltip" placeholder="I'm a tooltip!"
        [(ngModel)]="marker.tooltip"
      >
      <small id="tooltipHelp" class="form-text text-muted">
        This message will appear when the user put the pointer above the mark
      </small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close(events.SAVE)">Save</button>
  </div>
</ng-template>


<div class="map"
  leaflet 
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl"
  (leafletDoubleClick)="onMapDoubleClick(content, $event)"
>
  <div *ngFor="let l of layers" [leafletLayer]="l" (leafletLayerRemove)="onTest($event)"></div>
</div>